# исключить все файлы расширения .jpg
*.jpg

# исключить папку в корневом каталоге
/venv

# игнорировать все файлы в папке 
dirname/

# игнорировать все файлы определенного расширеняия в папке 
dirname/*.txt

